.table{
    display: block;
    max-width: 100%;
    max-height: 95vh;
    position: relative;
    z-index: 0;
    overflow: auto;
    border-spacing: 0px 10px;
    border-radius: 10px;
    margin-top: 35px;
}

    .table::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    }
    .table::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
    }
    .table::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    .table::-webkit-scrollbar-track{
    background: var(--global-gray4);
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px var(--global-gray4);
    }

.title{
    text-align: left;
    padding: 15px 0;
    display: flex;
}

.title span{
    font-size: 1.5em;
}

.addBtn{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 1em;
    color: var(--global-gray4);
    text-decoration: none;
    background-color: var(--global-tertiary-color);
    border-radius: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

.table tbody tr:nth-child(odd){
    background-color: #212121;
}
.table tbody tr:nth-child(even){
    background-color: #303030;
}

.table tr td{
    padding: 0 10px;
}
.table tr th:first-child,
.table tr td:first-child{
    color: var(--global-tertiary-color);
}
.table tbody tr:hover{
    background-color: #3f3f3f;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2){
    width: 175px;
    text-align: center;
}

.table tr td:nth-child(2){
    display: grid;
    grid-template-columns: 40px 135px;
}

.img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.table tr th:nth-child(3),
.table tr td:nth-child(3){
    max-width: 400px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.table tr th:nth-child(4),
.table tr td:nth-child(4){
    min-width: 100px;
    text-align: center;
}
.table tr th:nth-child(5),
.table tr td:nth-child(5){
    min-width: 100px;
    text-align: center;
}
.table tr th:nth-child(6),
.table tr td:nth-child(6){
    min-width: 150px;
    text-align: center;
}
.table tr th:nth-child(7),
.table tr td:nth-child(7){
    min-width: 150px;
    text-align: center;
}
.table tr th:nth-child(8),
.table tr td:nth-child(8){
    min-width: 150px;
    text-align: center;
}
.table tr th:nth-child(9),
.table tr td:nth-child(9){
    display: flex;
    min-height: 100%;
}

.table tr td:nth-child(9) ion-icon:first-child{
    font-size: 1.2em;
    height: 40px;
    margin-right: 10px;
    color: var(--global-tertiary-color);
    cursor: pointer;
}
.table tr td:nth-child(9) ion-icon:nth-child(2){
    font-size: 1.2em;
    height: 40px;
    cursor: pointer;
    color: red;
}

.statusActivate{
    background-color: rgba(0, 141, 0, 0.589);
    padding: 5px;
    border-radius: 5px;
}
.statusDesactivate{
    background-color: rgba(255, 0, 0, 0.616);
    padding: 5px;
    border-radius: 5px;
}

.emptyData td{
    height: 1.5rem;
    text-align: center;
}

.emptyData td:nth-child(2){
    display: inline-block;
    width: 100%;
    text-align: center;
}

