.home_section {
    color: var(--global-primary-text_color);
    padding-bottom: 35px;
    padding-top: 15vh;
    min-height: 100vh;
    position: relative;
}

.color{
    position: absolute;
    filter: blur(150px);
    background-color: var(--global-background_color);
    z-index: 0;
}

.color:nth-child(1){
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
}
.color:nth-child(2){
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.live_container {
    width: 70%;
    margin: auto;
}



@media (min-width: 800px) {
    .live_container {
        width: 85%;
        margin: auto;
    }

    .color:nth-child(1){
        width: 350px;
        height: 350px;
    }
    .color:nth-child(2){
        width: 300px;
        height: 300px;
    }
}