.home_section{
    color: var(--global-primary-text_color);
    padding-bottom: 35px;
}

.live_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.live_title i{
    color: var(--global-secondary-color);
    font-size: .5rem;
    margin-right: 8px;
}

.live_title h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.live_container{
    width: 70%;
    margin: auto;
}

@media (min-width: 800px) {
    .live_container{
        width: 85%;
        margin: auto;
        margin-left: 15%;
    }
    
}