.home_section {
    color: var(--global-primary-text_color);
    padding-bottom: 35px;
    min-height: 100vh;
    position: relative;
}

.color{
    position: absolute;
    filter: blur(150px);
    background-color: var(--global-background_color);
    z-index: 0;
}

.color:nth-child(1){
    top: 0;
    right: 0;
    width: 250px;
    height: 250px;
}
.color:nth-child(2){
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.live_container {
    width: 70%;
    margin: auto;
}

/* Modal de verificación */
.modalEvent_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    align-items: center;
    z-index: 15;
}

.modal_container {
    width: 80%;
    background-color: #fff;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}

.modal_icon {
    position: relative;
    width: 30%;
    height: 100px;
    margin: auto;
}

.modal_text {
    color: var(--global-primary-color);
    text-align: center;
}

.modal_text h3{
    font-size: 1.5rem;
}

.modal_text p{
    font-size: 1.2rem;
}

.modal_buttons {
    cursor: pointer;
    display: flex;
    color: var(--global-primary-color);
    justify-content: space-around;
    margin-top: 15px;
}

.modal_button {
    padding: 5px;
    border-radius: 15px;
    transition: .5s;
}

.modal_button:nth-child(1) {
    border: 1px solid var(--global-primary-color);
}

.modal_button:nth-child(2) {
    display: inline-block;
    border: 1px solid var(--global-secondary-color);
    background-color: var(--global-secondary-color);
    text-decoration: none;
    color: #fff;
}

@media (min-width: 800px) {
    .live_container {
        width: 85%;
        margin: auto;
    }

    .color:nth-child(1){
        width: 350px;
        height: 350px;
    }
    .color:nth-child(2){
        width: 300px;
        height: 300px;
    }

    /* Modal de verificación */
    .modal_container {
        width: 30%;
    }

    .modal_icon {
        width: 20%;
        margin: auto;
    }

    .modal_button:nth-child(1):hover {
        background-color: var(--global-primary-color);
        color: #fff;
    }

    .modal_button:nth-child(2):hover {
        filter: brightness(1.2);
    }
}