.container{
    background-color: var(--global-error);
    width: max-content;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.container p{
    font-size: 1rem;
}