
.product_card{
    position: relative;
    width: 240px;
    height: 340px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
}

.product_imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.product_imgBox img{
    display: block;
    width: 100%;
}

.product_content{
    position: absolute;
    width: 100%;
    bottom: -110px;
    background: #fff;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0);
    transition: .5s;
}

.product_card:hover .product_content{
    bottom: 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
}

.title_price{
    position: relative;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.product_content h3{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
}


.product_content .price{
    font-weight: bold;
    color: var(--global-background_color);
    font-size: 20px;
} 

.description{
    color: #000;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 60px;
    transition: .5s;
}

.description_hidden{
    -webkit-line-clamp: 50;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.button{
    display: block;
    position: relative;
    overflow: hidden;
    padding: 4px 5px;
    color: #fff;
    margin: 15px 0 0 0px;
    background: var(--global-background_color);
    text-align: center;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    transition: .5s;
    width: 78%;
    z-index: 1;
    border: 1px solid var(--global-background_color);
}

.button:hover{
    color: var(--global-background_color);
    background-color: #fff;
}

.button:nth-child(2):hover{
    color: #fff;
    background-color: var(--global-background_color);

}

.button:nth-child(2){
    width: 20%;
    border: 1px solid var(--global-background_color);
    color: var(--global-background_color);
    background-color: transparent;
}

.button:active{
    transform: scale(.9);
}

.button span, .button i{
    position: relative;
    z-index: 10;
}

.button::before{
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
}

.button:nth-child(2):before{
    background-color: var(--global-background_color);
}

.button:hover:before{
    width: 150px;
    height: 150px;
}
