.about_section{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.about_container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about_text_container{
    margin-top: 35px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.about_text_container h3{
    font-size: 2rem;
}
.about_text_container p span{
    color: var(--global-tertiary-color);
}

.about_btn{
    display: inline-block;
    color: #fff;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 15px 5px 0 5px;
    cursor: pointer;
}
.about_btn:nth-child(2){
    background-color: var(--global-secondary-color);
}
.about_btn:nth-child(1){
    border: 1px solid var(--global-secondary-color);
    color: var(--global-secondary-color);
}

.about_img_container{
    position: relative;
    flex-grow: 1;
    width: 100%;
    margin: auto;
    z-index: 1;
}

.about_img_container_img{
    object-fit: contain;
}

.about_svg_background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 0;
}

.about_svg_background_svg{
    width: 100%;
    z-index: 0;
    opacity: .8;
}

@media (min-width:700px){ 
    .about_text_container h3{
        font-size: 3rem;
    }
    .about_text_container p{
        font-size: 2rem;
        width: 80%;
        margin: 15px auto;
    }

    .about_btn{
        font-size: 2rem;
    }
}

@media (min-width:800px){    
    .about_container{
        flex-direction: row;
    }
    
    .about_text_container{
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        width: 60%;
        padding-left: 5%;
        margin-top: 0px;
    }
    
    .about_text_container h3{
        font-size: 4rem;
    }
    .about_text_container p{
        font-size: 1.5rem;
        width: 100%;
        margin: 0;
    }

    .about_btn{
        font-size: 1.5rem;
    }
    
    .about_img_container{
        flex-grow: 0;
        width: 40%;
        margin: 0;
    }
    
    .about_img_container_img{
        object-fit: contain;
    }
}