.home_section{
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.home_container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.home_text_container{
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.home_text_container h3{
    font-size: 2rem;
}
.home_text_container p span{
    color: var(--global-tertiary-color);
}

.home_btn{
    display: inline-block;
    background-color: var(--global-secondary-color);
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
}

.home_img_container{
    position: relative;
    flex-grow: 1;
    width: 90%;
    margin: auto;
    z-index: 1;
}

.home_img_container_img{
    object-fit: contain;
}

.home_svg_background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 0;
}

.home_svg_background_svg{
    width: 100%;
    z-index: 0;
    opacity: .8;
}

@media (min-width:700px){ 
    .home_text_container h3{
        font-size: 3rem;
    }
    .home_text_container p{
        font-size: 2rem;
        width: 80%;
        margin: 15px auto;
    }

    .home_btn{
        font-size: 2rem;
    }
}

@media (min-width:800px){    
    .home_container{
        flex-direction: row;
    }
    
    .home_text_container{
        align-items: flex-start;
        justify-content: center;
        text-align: left;
        width: 60%;
        padding-left: 5%;
    }
    
    .home_text_container h3{
        font-size: 4rem;
    }
    .home_text_container p{
        font-size: 1.5rem;
        width: 100%;
        margin: 0;
    }

    .home_btn{
        font-size: 1.5rem;
    }
    
    .home_img_container{
        flex-grow: 0;
        width: 30%;
        margin: 0;
    }
    
    .home_img_container_img{
        object-fit: contain;
    }
}