.live_section{
    padding: 15px;
}

.live_title{
    text-align: center;
}

.live_title h3{
    font-size: 2rem;
    font-weight: 300;
}

.live_category{
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.live_category p{
    cursor: pointer;
}

.live_category_activate{
    color: var(--global-secondary-color);
}

@media screen and(min-width:800px){
    .live_category{
        justify-content: space-between;
    }
}
