.live_section{
    padding: 15px;
}

.live_title{
    text-align: center;
}

.live_title h3{
    font-size: 2rem;
    font-weight: 300;
}

.live_slider_container{
    /* background-color: red; */
}

.live_category{
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.live_category p{
    cursor: pointer;
}

.live_category_activate{
    color: var(--global-secondary-color);
}