.shop_container{
    position: absolute;
    z-index: 100;
    bottom: 0px;
    transition: .5s;
    left: 2.5%;
    width: 95%;
    padding-bottom: 15px;
    max-height: 75vh;
    background-color: var(--global-primary-color);
    border-radius: 15px 15px 0 0;
    color: #fff;
}

.move_tab{
    display: inline-block;
    margin-top: 15px auto;
    margin-left: calc(50% - 75px);
    width: 150px;
    height: 7px;
    background-color: var(--global-gray2);
    border-radius: 25px;
}

.shop_title{
    font-size: 1.5rem;
    padding: 15px 30px;
}

.card_box{
    max-height: calc(75vh - 22px - 30px - 1.5rem);
    overflow-y: scroll;
}

.card{
    padding: 15px 0;
    border-top: 1px solid var(--global-gray2);
    margin: 0 30px;
    display: flex;
    align-items: center;
}


.card_image{
    position: relative;
    width: 70px;
    height: 70px;
}

.card_title{
    margin-left: 30px;
    font-size: 1.2rem;
    flex-grow: 1;
}


.add_cart{
    cursor: pointer;
    padding: 5px;
    display: block;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    z-index: 1;
    border: 1px solid #fff;
    width: 20%;
}

.add_cart:hover{
    color: var(--global-background_color);
    background-color: #fff;
}

.add_cart:active{
    transform: scale(.9);
}

.add_cart i{
    position: relative;
    z-index: 10;
}

.add_cart::before{
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
}

.add_cart:hover:before{
    width: 150px;
    height: 150px;
}