.container{
    width: 80%;
    min-height: 75vh;
    padding: 0 20px;
    padding-bottom: 20px;
}

.title{
    text-align: left;
    font-size: 1.5em;
    padding-bottom: 15px;
}

.img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.aproved{
    background-color: #146714;
    padding: 5px 10px;
    border-radius: 5px;
}

.desaproved{
    background-color: #AA0D0D;
    border-radius: 5px;
    padding: 5px 10px;
}

.wait{
    background-color: rgba(255, 255, 0, 0.548);
    border-radius: 5px;
    padding: 5px 10px;
}

@media (max-width: 850px) {
    .container{
        width: 90%;
        margin: auto;
        min-height: calc(100vh - 90px - 30px - 2rem);
    }
}

@media (max-width: 750px) {
    .container{
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }
}