.container{
    width: 80%;
    min-height: 75vh;
    padding: 0 20px;
    padding-bottom: 20px;
}

.table{
    display: block;
    max-width: 100%;
    max-height: 85vh;
    position: relative;
    z-index: 0;
    overflow: auto;
    border-spacing: 0px 10px;
    border-radius: 10px;
}

    .table::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    }
    .table::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
    }
    .table::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    .table::-webkit-scrollbar-track{
    background: var(--global-gray4);
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px var(--global-gray4);
    }

.title{
    text-align: left;
    font-size: 1.5em;
    padding-bottom: 15px;
}

.table tbody tr:nth-child(odd){
    background-color: #212121;
}
.table tbody tr:nth-child(even){
    background-color: #303030;
}
.table tbody tr:hover{
    background-color: #3f3f3f;
}

.table tr td{
    padding: 0 10px;
}

.table tr th:first-child,
.table tr td:first-child{
    color: var(--global-tertiary-color);
}
.table tr th:nth-child(2),
.table tr td:nth-child(2){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(3),
.table tr td:nth-child(3){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(4),
.table tr td:nth-child(4){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(5),
.table tr td:nth-child(5){
    min-width: 175px;
    max-width: 175px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(7),
.table tr td:nth-child(7){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(8),
.table tr td:nth-child(8){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(9),
.table tr td:nth-child(9){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(10),
.table tr td:nth-child(10){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.table tr th:nth-child(11),
.table tr td:nth-child(11){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(12),
.table tr td:nth-child(12){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(13),
.table tr td:nth-child(13){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(14),
.table tr td:nth-child(14){
    min-width: 150px;
    max-width: 150px;
    text-align: center;
}
.table tr th:nth-child(15),
.table tr td:nth-child(15){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(16),
.table tr td:nth-child(16){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(17),
.table tr td:nth-child(17){
    min-width: 125px;
    max-width: 125px;
    text-align: center;
}
.table tr th:nth-child(18),
.table tr td:nth-child(18){
    display: flex;
    min-height: 100%;
}

.table tr td:nth-child(18) ion-icon:first-child{
    font-size: 1.2em;
    height: 40px;
    margin-right: 10px;
    color: var(--global-tertiary-color);
    cursor: pointer;
    color: red;
}
.table tr td:nth-child(18) ion-icon:nth-child(2){
    font-size: 1.2em;
    height: 40px;
    cursor: pointer;
}

.aproved{
    background-color: #146714;
    padding: 5px 10px;
    border-radius: 5px;
}

.desaproved{
    background-color: #AA0D0D;
    border-radius: 5px;
    padding: 5px 10px;
}

.wait{
    background-color: rgba(255, 255, 0, 0.548);
    border-radius: 5px;
    padding: 5px 10px;
}

.emptyData td{
    height: 1.5rem;
}


@media (max-width: 850px) {
    .container{
        width: 90%;
        margin: auto;
        min-height: calc(100vh - 90px - 30px - 2rem);
    }
}

@media (max-width: 750px) {
    .container{
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }
}