.live_section{
    padding: 55px 15px;
    border-bottom: 1px solid var(--global-gray3);
}

.live_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.live_title i{
    color: var(--global-secondary-color);
    font-size: .5rem;
    margin-right: 8px;
}

.live_title h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.live_category{
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.live_category p{
    cursor: pointer;
}

.live_category_activate{
    color: var(--global-secondary-color);
}

@media (min-width:800px){
    .live_category{
        justify-content: center;
    }

    .live_category p{
        margin: 0 50px;
    }

    .live_slider_container{
        margin-left: 5rem;
    }
}
