.form{
    margin-top: 15px;
}

.title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.form_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
}

.form_div div{
    width: 45%;
    height: 1px;
    background-color: var(--global-tertiary-color);
}

.fields_container input{
    width: 100%;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--global-gray2);
    transition: .5s;
    color: var(--global-primary-text_color);
}

.fields_container input:focus{
    border-bottom: 1px solid var(--global-gray);
}

.fields_container .errorInput{
    border-bottom: 1px solid var(--global-secondary-color);
}
.fields_container .errorInput:focus{
    border-bottom: 1px solid var(--global-secondary-color);
}

.fields{
    margin-bottom: 10px;
}

.input_container{
    display: flex;
    align-items: center;
}

.input_help{
    width: 1rem;
    height: 1rem;
    position: relative;
    margin-left: 10px;
}

.input_help i:hover ~ p{
    display: block;
}

.input_help p{
    display: none;
    position: absolute;
    bottom: 100%;
    right: 100%;
    width: min-content;
    background-color: #fff;
    color: var(--global-primary-color);
    padding: 10px;
    width: 300px;
}

.error{
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--global-secondary-color);
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: rgb(218, 118, 118);
    transition: .5s;
}

.forget_password a{
    color: var(--global-gray2);
    transition: .5s;
}

.forget_password a:hover{
    color: var(--global-gray);
}

.button_container{
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.button_container button{
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--global-tertiary-color);
    color: var(--global-primary-color);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}


.button_container button:hover{
    filter: brightness(1.2);
}

.register{
    width: max-content;
    margin: auto;
    text-align: center;
    padding: 10px; 
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
}

.register::before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0;
    transition: .5s;
    background-color: var(--global-tertiary-color);
    height: 1px;
}

.register:hover::before{
    width: 100%;
    transition: .5s;
}

.social_media_register{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.social_button{
    margin: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 35px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    font-size: 1.3rem;
    background-color: var(--global-gray);
    overflow: hidden;
}

.social_button:hover{
    filter: brightness(1.2);
}

.social_button:nth-child(1){
    color: #D34A40 !important;
}
.social_button:nth-child(2){
    color: #5773F2 !important;
}

.social_button i{
    margin-right: 10px;
}

@media (min-width: 700px) {
    .title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 15px;
    }
    
    .field_confirm{
        display: flex;
    }

    .field_confirm .fields:nth-child(1){
        margin-right: 15px;
    }

    .field_confirm .fields{
        width: 50%;
    }

    .social_media_register{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .social_button{
        width: 50%;
        margin: 10px 0;
    }

    .social_button:nth-child(1){
        color: #D34A40;
        margin-right: 20px;
    }
    .social_button:nth-child(2){
        color: #5773F2;
        margin-left: 20px;
    }
}