.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.title{
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-bottom: 35px;
}

.title h2{
    font-size: 2rem;
}

.conditions{
    background-color: var(--global-gray5);
    padding: 10px 15px;
}

.conditions h3{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.conditions p{
    margin-bottom: 20px;
}

.conditions span{
    display: inline-block;
    padding: 30px 0;
}

@media (min-width: 750px) {
    .container{
        width: 90%;
        margin: auto;
    }    
}
@media (min-width: 850px) {
    .container{
        width: 80%;
    }    

    .conditions{
        background-color: var(--global-gray5);
        padding: 10px 60px;
    }
}