/* NEXT EVENT */
.image_container{
    position: relative;
    width: 275px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px ;
}

.image_container img{
    filter: brightness(.4);
}

.help_cover{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--global-primary-color_opacity);
    z-index: 0;
}

.video_container:hover .help_cover{
    opacity: 1 !important;
}

.more_info{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
}

.live_info_container{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.live_info_container h4{
    font-size: 1.6rem;
    text-align: center;
}

.next_event{
    text-align: center;
}

.live_info_container:hover h4{
    text-decoration: underline;
}

.date_container{
    margin: 15px 0;
}

.date_container div{
    display: flex;
    align-items: center;
}

.date_container div p{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}


@media (min-width:750px){
    
}

@media (min-width:850px) {
    
}

@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}

