.product_section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.product_section_title{
    text-align: center;
    margin-bottom: 35px;
}

.product_section_title h4{
    font-size: 2rem;
}

.product_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.empty_shopping{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    font-size: 2rem;
}