.article{
    padding-top: 70px;
    position: relative;
    display: flex;
}
@media (max-width: 850px) {
    .article{
        padding-top: 110px;
    }
}
@media (max-width: 750px) {
    .article{
        display: block;
        padding-top: 90px;
    }
}