
.videoRes_container{
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.liveRes_title{
    display: none;
}

.liveRes_alert{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    animation: liveAlert .5s ease-in-out infinite alternate;
}

.liveRes_info_container{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--global-gray4);
    padding: 10px;
    border-top: 2px solid var(--global-gray);
}

.liveRes_info_container h4{
    font-size: 1.2rem;
}

.liveRes_info_container span{
    padding: 5px 5px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: var(--global-tertiary-color);
    color: var(--global-primary-color);
    cursor: pointer;
}

.liveRes_info_container p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}