
.last_events_container{
  width: 100%;
  margin: 15px 0;
}

.last_events_title{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.last_events_title i{
  margin-right: 10px;
  color: var(--global-secondary-color);
}

.last_events_title h3{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.events_track{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
}

.events_track::-webkit-scrollbar{
  display: none;
}
.events_track::-webkit-scrollbar-thumb{
  display: none;
}
.events_track::-webkit-scrollbar-thumb:hover{
  display: none;
}
.events_track::-webkit-scrollbar-track{
  display: none;
}

.event_img_box{
  position: relative;
  min-width: 100px;
  height: 100px;
  margin-right: 15px;
}

.event_img_box img{
  overflow: hidden;
  border-radius: 10px;
}