
.last_events_container{
  width: 100%;
  margin-top: 45px;
  position: relative;
  z-index: 1;
}

.last_events_title{
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.last_events_title i{
  margin-right: 10px;
  color: var(--global-secondary-color);
}

.last_events_title h3{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}

.events_track{
  width: 100%;
  height: 100%;
  display: flex;
  overflow: scroll;
  margin-top: 15px;
}

.events_track::-webkit-scrollbar{
  display: none;
}

.event_img_box{
  position: relative;
  min-width: 200px;
  height: 300px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 5px;
}


/* EventInfoModal */
.event_info_container{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: var(--global-gray5);
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  padding: 15px;
}

.event_close{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;

}

.event_info{
  display: flex;
}

.event_img_container{
  position: relative;
  min-width: 100px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
}

.event_info_content{
  min-height: 200px;
  max-height: 200px;
  margin-left: 10px;
}

.event_info_content h4{
  font-size: 1.2rem;
  max-width: 75%;
  margin-bottom: 10px;
}

.event_info_content .text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


.date_container{
  margin: 15px 0;
}

.date_container div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date_container div p{
  margin: 0 0 0 10px;
}

.event_info_container button{
  background-color: var(--global-tertiary-color);
  color: var(--global-primary-color);
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid var(--global-tertiary-color);
  outline: none;
  cursor: pointer;
  transition: .5s;
  width: 100%;
  margin: 15px 0;
}

.event_info_container button:hover{
  filter: brightness(1.2);
}