
.product_card{
    position: relative;
    width: 240px;
    height: 340px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;
}

.product_imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.product_imgBox img{
    display: block;
    width: 100%;
}

.product_content{
    position: absolute;
    width: 100%;
    bottom: -110px;
    background: #fff;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0);
    transition: .5s;
}

.product_card:hover .product_content{
    bottom: 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, .25);
}

.title_price{
    position: relative;
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.product_content h2{
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
}


.product_content .price{
    font-weight: bold;
    color: #ff4faf;
    font-size: 20px;
} 

.description{
    color: #000;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    min-height: 60px;
    transition: .5s;
}

.description_hidden{
    -webkit-line-clamp: 50;
}

.product_content a{
    display: block;
    padding: 5px;
    color: #fff;
    margin: 15px 0 0;
    background: #ff4faf;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
}

.product_content a:hover{
    background: #ff209a;
}