.articles_desktop_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.title{
    padding: 25px;
    display: flex;
    align-items: center;
}

.title_img{
    position: relative;
    width: 2rem;
    height: 2rem;
    margin-right: 7px;
}


.title h3{
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    color: var(--global-primary-color);
    padding-left: 7px;
}

.title h3::before{
    content: '';
    position: absolute;
    left: 0;
    height: 60%;
    transform: translateY(calc(40%));
    width: 2px;
    background-color: var(--global-gray2);
}

.articles_container{
    width: 90%;
    max-height: 240px;
    overflow: auto;
    margin: auto;
}

    .articles_container::-webkit-scrollbar{
    width: 4px;
    height: 4px;
    }
    .articles_container::-webkit-scrollbar-thumb{
    background: var(--global-tertiary-color);
    border-radius: 20px;
    }
    .articles_container::-webkit-scrollbar-thumb:hover{
    background: #EBEBEB;
    }
    .articles_container::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

.articles_fotter_container{
    display: flex;
    color: var(--global-primary-color);
    justify-content: space-around;
    padding: 25px;
}

.fotter_link{
    display: inline-block;
    text-decoration: none;
    color: var(--global-primary-color) !important;
}

.fotter_link i{
    margin-right: 15px;
}

.subtotal{
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.subtotal h5{
    margin-right: 30px;
}


@media (max-width: 800px ) {
    .subtotal h5{
        margin-right: 10px;
    }
    .fotter_link{
        display: none;
    }
}