.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    background-color: var(--global-primary-color);
    padding: 15px 100px;
}

.title{
    font-size: 2em;
    padding-bottom: 20px;
}

.inputsContainer{
    padding-top: 20px;
    border-top: 1px solid var(--global-gray2);
    display: flex;
}

.inputImage{
    position: relative;
    width: 150px;
    height: 225px;
}

.inputImage img{
    filter: brightness(.5);
}

.inputImage input{
    display: none;
}

.inputImage label{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 4em;
    color: var(--global-gray2);
}


.input{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    border: 1px solid var(--global-gray3);
    border-radius: 5px;
    padding: 5px 5px;
    color: #fff;
}
.input:focus{
    border-bottom: 1px solid var(--global-tertiary-color);
}
.input::placeholder{
    font-family: 'outfit', sans-serif;
}

.inputName{
    width: 150px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.inputName ion-icon{
    width: 20px;
}

.inputName input{
    width: 125px;
    margin-left: 5px;
}

.side:nth-child(2){
    margin-left: 30px;
    flex: 1;
}

.inputDescription{
    display: flex;
    flex-direction: column;
}
.label{
    font-size: 15px;
    margin-bottom: 10px;
}

.inputDescription .input{
    height: 80px;
    width: 100%;
    resize: none;
}

.inputCategory{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.inputCategory select{
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--global-gray2);
    font-family: 'outfit',sans-serif;
    outline: none;
    padding: 5px;
}

.inputCategory select option{
    background-color: var(--global-primary-color);
}

.inputPrice{
    display: flex;
    margin-top: 25px;
    width: 100%;
    /* justify-content: space-between; */
}

.price{
    display: flex;
    flex-direction: column;
    min-width: 32%;
    margin-right: 15px;
}

.priceContainer{
    position: relative;
}

.priceContainer input{
    padding-left: 15px;
    width: 100%;
}

.price span{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 4px;
    margin: auto;
    display: flex;
    align-items: center;
    width: 15px;
}

.status{
    display: flex;
    flex-direction: column;
}

.checkbox_box{
    flex: 1;
    display: flex;
    align-items: center;
}

.status input{
    position: relative;
    width: 30px;
    height: 15px;
    -webkit-appearance: none;
    background-color: gray;
    outline: none;
    border-radius: 20px;
    transition: .5;
    box-shadow:inset 0 0 5px rgba(0, 0, 0, .2);
}
.status input:checked{
    background-color: var(--global-tertiary-color);
}
.status input::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.status input:checked:before{
    left: 15px;
}



/*  */
.btnContainer{
    position: absolute;
    bottom: 15px;
    right: 100px;
    display: flex;
}

.button{
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: 'outfit', sans-serif;
    margin-left: 15px;
    cursor: pointer;
}

.button:nth-child(2){
    background-color: var(--global-tertiary-color);
    color: var(--global-gray4);
    position: relative;
    overflow: hidden;
    transition: .5s;
}

.button:nth-child(2) span{
    position: relative;
    z-index: 10;
}

.button:nth-child(2):hover{
    color: #fff;
}

.button:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 00px;
    height: 00px;
    transition: .5s;
    background-color: #45d651;
    border-radius: 50%;
}

.button:nth-child(2):hover::after{
    width: 100px;
    height: 100px;
}

@media (max-width: 850px) {

    .container{
        padding: 15px 30px;
    }
    .btnContainer{
        right: 30px;
    }
}

@media (max-width: 750px) {
    .inputsContainer{
        display: block;
    }

    .side:nth-child(1){
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .side:nth-child(2){
        margin-left: 0px;
    }

    .container{
        padding: 15px 15px;
    }
    .btnContainer{
        right: 15px;
    }
}