.live_box{
    position: relative;
    z-index: 1;
    flex-grow: 1;
}

.live_title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.live_title i {
    margin-right: 10px;
    color: var(--global-secondary-color);
}

.live_title h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}

.live_wrapper{
    display: flex ;
    justify-content: center;
    margin-top: 15px;
    
}