.container{
    position: absolute;
    top: 100%;
    right: 20px;
    width: 250px;
    max-height: 50vh;
    background-color: var(--global-gray5);
    padding: 15px;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: #878787;
}.container::-webkit-scrollbar {
        width: 5px;
    }
    .container::-webkit-scrollbar-track {
        background: transparent;
    }
    .container::-webkit-scrollbar-thumb {
        background-color: #878787;
        border-radius: 10px;
        border: 0px solid #ffffff;
    }

.topCart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.topCart h6{
    font-size: 1rem;
}

.topCart .close{
    cursor: pointer;
}

/* Producto */
.product{
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid var(--global-gray3);
}

.productImg{
    width: 4rem;
    height: 4rem;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.productInfo{
    margin-left: 10px;
}

.quantityContainer{
    display: flex;
    align-items: center;
}

.quantityArrows{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.arrow{
    cursor: pointer;
}

.totalPrice h5{
    font-size: 1rem;
    margin-top: 5px;
}
.totalPrice span{
    font-size: 1.3rem;
    font-weight: 700;
}