.filter_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--global-primary-color);
    z-index: 11;
}

.close{
    display: flex;
    justify-content: flex-end;
}

.close i{
    padding: 15px;
    font-size: 2rem;
}

.content{
    padding: 15px 40px;
}

.title{
    margin-bottom: 25px;
    font-size: 2rem;
}

.sort_container div{
    padding: 25px 0;
    border-top: 1px solid var(--global-gray3);
    transition: .5s;
}
.sort_container div:hover{
    background-color: var(--global-gray4);
}
.sort_container div:last-child{
    border-bottom: 1px solid var(--global-gray3);
}