/* CHAT */

.side_chat{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    width: 100%;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
}

.close_chat{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.chat_box{
    background-color: #fff;
    background-color: var(--global-primary-color);
    width: 100%;
    height: 95vh;
}

.chat_div{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo_chat_container{
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--global-gray2);
    display: flex;
    align-items: center;
    justify-content: center
}

.logo_img{
    position: relative;
    width: 70%;
    height: 80px;
}

.chat_container{
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    position: relative;
}

    .chat_container::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    }
    .chat_container::-webkit-scrollbar-thumb{
    background: #FFFFFF;
    border-radius: 10px;
    }
    .chat_container::-webkit-scrollbar-thumb:hover{
    background: #F5F5F5;
    }
    .chat_container::-webkit-scrollbar-track{
    background: #ff000000;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    }

.chat{
    position: relative;
    bottom: 0;
    margin-bottom: 1px;
}

.chat_msg{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.chat_msg_img{
    position: relative;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    overflow: hidden;
}

.chat_msg_img img{
    width: 100%;
}

.chat_msg_text{
    font-size: 1rem;
    padding: 5px;
}

.admin_text h5{
    color: rgb(14, 255, 14);
}


.chat_box form{
    width: 90%;
    margin: 10px auto;
    display: flex;
    border: 1px solid var(--global-gray);
    border-radius: 50px;
}

.chat_box input{
    flex-grow: 3;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000;
}

.chat_box input::placeholder{
    color: var(--global-gray);
}

.chat_box button{
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    color: var(--global-gray);
    cursor: pointer;
}

