.container{
    width: calc(100% - 20px);
    padding: 10px;
    margin: auto;
    border-bottom: 1px solid var(--global-gray2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

    .container::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    }
    .container::-webkit-scrollbar-thumb{
    background: #B3AFB3;
    border-radius: 30px;
    }
    .container::-webkit-scrollbar-thumb:hover{
    background: #B3AFB3;
    }
    .container::-webkit-scrollbar-track{
    background: var(--global-gray4);
    border-radius: 30px;
    box-shadow: inset 0px 0px 0px 0px var(--global-gray4);
    }

.item{
    display: flex;
    position: relative;
    align-items: center;
}

.item img{
    border-radius: 50%;
}

.item:nth-child(1){
    min-width: 175px;
}

.item:nth-child(1) span{
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.item:nth-child(2){
    width: 500px;
    max-width: 500px;
}

.item:nth-child(2) span{
    width: 100%;
    height: 1.25em;
    overflow: hidden;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}

.item:nth-child(3){
    margin: 0 10px;
}

.btn{
    text-decoration: none;
    background-color: var(--global-tertiary-color);
    color: var(--global-gray4);
    padding: 5px 10px;
    border-radius: 25px;
    white-space: nowrap;
}

@media (max-width: 850px) {
    .item:nth-child(2){
        width: 275px;
        max-width: 275px;
    }
}

@media (max-width: 750px) {
    .container{
        padding: 25px 10px;
    }
}