.live_background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.774);
}

.live_container{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    min-height: 650px;
    max-height: 650px;
    background-color: var(--global-primary-color);
    background-color: red;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.live{
    position: relative;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
}
.live_alert{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    animation: liveAlert .5s ease-in-out infinite alternate;
}

.live_close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    text-decoration: none;
    z-index: 10;
}

.options_buttons{
    position: absolute;
    bottom: calc(55px + 1rem);
    right: 5%;
}

.options_buttons span{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #fff;
    color: var(--global-gray5);
}


.live_container:hover .pauseBottom{
    opacity: 1;
}

.pauseBottom{
    opacity: 0;
    transition: .5s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.pauseBottom i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--global-gray);
    opacity: .6;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid var(--global-gray);
}


@media (min-width: 700px) {

    .live_alert{
        padding: 8px 16px;
        font-size: 1.5rem;
        animation: liveAlert .5s ease-in-out infinite alternate;
    }
    
    .live_close{
        padding: 8px 16px;
        font-size: 1.5rem;
    }

    .options_buttons{
        position: absolute;
        bottom: calc(55px + 1.5rem + 15px);
        right: 5%;
    }

    .options_buttons span{
        min-width: 60px;
        min-height: 60px;
        font-size: 2.25rem;
        margin-top: 20px;
        background-color: #fff;
        color: var(--global-gray5);
    }
}

@media (min-height: 1000px) {
    .live_container{
        width: 70%;
        min-height: 950px;
        max-height: 950px;
        background-color: yellow;
    }
}

@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}