.live_background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.774);
}

.live_container{
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
    max-height: 100vh;
}

.live{
    position: relative;
}
.live_alert{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    animation: liveAlert .5s ease-in-out infinite alternate;
}

.live_close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    text-decoration: none;
}

.options_buttons{
    position: absolute;
    bottom: calc(35px + 1rem + 20px);
    right: 5%;
}

.options_buttons span{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-top: 20px;
    background-color: #fff;
    color: var(--global-gray5);
}


@media (min-width: 700px) {
    .live_alert{
        padding: 8px 16px;
        font-size: 1.5rem;
        animation: liveAlert .5s ease-in-out infinite alternate;
    }
    
    .live_close{
        padding: 8px 16px;
        font-size: 1.5rem;
    }
}

@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}