.eventDesktop_container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.603);
}

.live_section{
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 100%;
}

/* LIVE */
.side_live{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.live_container{
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--global-primary-color);
    z-index: 10;
}

.live_alert{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    animation: liveAlert .5s ease-in-out infinite alternate;
}


.options_buttons{
    position: absolute;
    top: 10px;
    right: 5%;
}

.options_buttons span{
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.5rem;
    margin-bottom: 20px;
    background-color: #fff;
    color: var(--global-gray5);
    transition: .5s;
}

.options_buttons span:first-child{
    background-color: transparent;
    color: #fff;
}

.live_container:hover .controls{
    opacity: 1;
}


.controls{
    opacity: 0;
    transition: .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: rgb(109,117,129);
    background: linear-gradient(180deg, rgba(109,117,129,0) 0%, rgba(26,26,26,1) 100%);
}

.controls i{
    z-index: 10;
    cursor: pointer;
}

.live_container:hover .pauseBottom{
    opacity: 1;
}

.pauseBottom{
    opacity: 0;
    transition: .5s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: none;
}

.pauseBottom i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--global-gray);
    opacity: .6;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 1px solid var(--global-gray);
}


@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}