.ecommerce_section{
    padding: 55px 15px;
    position: relative;
}

.ecommerce_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ecommerce_title i{
    color: var(--global-tertiary-color);
    font-size: 1.4rem;
    margin-right: 1rem;
}

.ecommerce_title h3{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
}

.ecommerce_text{
    text-align: center;
    margin: 15px 0;
}

.ecommerce_text a{
    display: inline-block;
    margin-top: 15px;
}


/* ............................... */

@media (min-width: 800px) {
    .ecommerce_title i{
        font-size: 2.25rem;
    }

    .ecommerce_title h3{
        font-size: 3rem;
    }

    .ecommerce_text p{
        font-size: 1.5rem;
        font-weight: 300;
    }

    .ecommerce_text a{
        font-size: 1.5rem;
    }
}