.container{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--global-gray3);
}


.side{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.side:first-child::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 2rem;
    margin-top: -1rem;
    background-color: var(--global-gray3);
}

.side img{
    filter: invert(100%);
}
.side span{
    margin-left: 10px;
}

.filter_search{
    display: flex;
    margin: 0px 0;
    background-color: var(--global-gray5);
    padding: 5px;
    width: 100%;
    margin: auto;
    padding: 15px 10px;
}

.filter_search .img{
    position: relative;
    margin-right: 15px;
    padding: 5px;
    padding-left: 15px;
    border-left: 1px solid var(--global-gray3);
}


.filter_search img{
    object-fit: contain;
    filter: invert(100%);
}

.filter_search input{
    outline: none;
    min-height: 1rem;
    padding: 5px 15px;
    border: none;
    flex: 1;
    background-color: transparent;
    color: #fff;
    font-family: 'outfit', sans-serif;
}
.filter_search input::placeholder{
    color: var(--global-gray);
}
.filter_search input:focus{
    outline: none;
}



