.container{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--global-gray3);
}


.side{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: relative;
}

.side:first-child::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 2rem;
    margin-top: -1rem;
    background-color: var(--global-gray3);
}

.side img{
    filter: invert(100%);
}
.side span{
    margin-left: 10px;
}





