.live_box{
    position: relative;
    z-index: 1;
}

.live_title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.live_title i {
    margin-right: 10px;
    color: var(--global-secondary-color);
}

.live_title h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}

.live_wrapper{
    display: flex ;
    justify-content: center;
    margin-top: 15px;
}

.video_container{
    overflow: hidden;
    border-radius: 10px 10px 10px 10px ;
    position: relative;
    width: 90%;
    background-color: var(--global-primary-color);
}

.live_alert{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    animation: liveAlert .5s ease-in-out infinite alternate;
}


.help_cover{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--global-primary-color_opacity);
    z-index: 0;
}

.video_container:hover .help_cover{
    opacity: 1;
}

.more_info{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.live_info_container{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background: rgb(109,117,129);
    cursor: pointer;
    background: linear-gradient(180deg, rgba(39, 39, 39, 0) 0%, rgb(0, 0, 0) 100%);
}

.live_info_container h4{
    font-size: 1.5rem;
}

.live_info_container:hover h4{
    text-decoration: underline;
}

.live_info_container button{
    background-color: var(--global-tertiary-color);
    color: var(--global-primary-color);
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid var(--global-tertiary-color);
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.live_info_container button:hover{
    filter: brightness(1.2);
}

.date_container{
    margin: 15px 0;
}

.date_container div{
    display: flex;
    align-items: center;
}

.date_container div p{
    margin-left: 10px;
}


@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}

@media (min-width:750px){
    .video_container{
        width: 70%;
    }
}

@media (min-width:850px) {
    .video_container{
        width: 50%;
    }
}



/* MODAL MORE INFO */

.modal_background{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--global-primary-color_opacity);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_container{
    background-color: var(--global-gray3);
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    border: 5px solid var(--global-gray2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .55);

}

.modal_container h4{
    font-size: 3rem;
}

.modal_container h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal_container button{
    background-color: var(--global-tertiary-color);
    color: var(--global-primary-color);
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
}

.modal_more_info{
    position: absolute;
    top: -4rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 4rem;
    font-size: 4rem;
}

.close_modal{
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 2rem;
    color: var(--global-secondary-color);
    cursor: pointer;
}