.last_events_container {
    position: relative;
    z-index: 1;
    width: 95%;
    margin-top: 45px;
    margin-left: 5%;
}

.last_events_title {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.last_events_title i {
    margin-right: 10px;
    color: var(--global-secondary-color);
}

.last_events_title h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
}

.events_container{
    display: flex;
}

.event_info{
    min-width: 400px;
    max-width: 400px;
    min-height: 400px;
    max-height: 400px;
    transition: .2s;
}

.event_info h4{
    font-size: 2.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.event_info .info_text{
    display: flex;
    margin: 15px 0;
}

.event_info button{
    background-color: var(--global-tertiary-color);
    color: var(--global-gray3);
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid var(--global-tertiary-color);
    outline: none;
    cursor: pointer;
    transition: .5s;
    animation: liveAlert .5s ease-in-out infinite alternate;
    font-family: 'outfit', sans-serif;
}

.event_info button:hover{
    filter: brightness(1.2);
    animation: none;
}


.date_container{
    margin-bottom: 15px;
}

.date_container div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.date_container div p{
    margin: 0 0 0 10px;
}

.events_track_container{
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    margin-left: 65px;
}

.events_track{
    display: flex;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}


.event_track_arrow{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 75px;
    background-color: var(--global-primary-color_opacity);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transition: .5s;
}
.events_track_container:hover .event_track_arrow{
    opacity: 1;
}

.event_track_arrow:nth-child(1){
    right: 0;
    top: 0;
}
.event_track_arrow:nth-child(2){
    left: 0;
    top: 0;
}

.event_track_right:hover{
    background-color: var(--global-primary-color);
}

.events_track::-webkit-scrollbar{
    display: none;
}

.event_img_box{
    position: relative;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    cursor: pointer;
    margin-right: 25px;
    overflow: hidden;
    border-radius: 5px;
}

.event_img_box:last-child{
    margin-right: 75px;
}

.empty_lastVideos{
    margin: 35px;
    width: 95%;
    text-align: center;
}

.empty_lastVideos p{
    font-size: 2rem;
}

.empty_lastVideos span{
    display: inline-block;
    margin-top: 10px;
    color: var(--global-tertiary-color);
    text-decoration: underline;
    cursor: pointer;
}

@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}