.productDetail_container{
    width: 90%;
    margin: auto;
}

@media (min-width: 750px){
    .first_box{
        display: flex;
    }
}

/* Image Section */

.title{
    padding: 15px 0;
    font-size: 1.3rem;
}

.viewImage{
    position: relative;
    background-color: var(--global-gray5);
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
}
@media (min-width: 750px) {
    .image_section{
        width: max-content;
        padding-right: 15px;
    }

    .viewImage{
        position: relative;
        background-color: var(--global-gray5);
        width: 300px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 5px;
    }

    @media (min-width: 850px) {
        .viewImage{
            width: 450px;
            height: 450px;
        }
    }
}

/* Agregate Section */

.agregate_section{
    margin: 15px 0;
}

.price{
    font-size: 3rem;
}

.addToCart{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.counters{
    display: flex;
    flex-direction: column;
    color: var(--global-gray2);
    margin-left: 5px;
}

.counters i{
    cursor: pointer;
}
.counters i:active{
    transform: scale(.9);
}

.counters i:nth-child(1){
    margin-bottom: 5px;
}

.add_button{
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    padding: 15px;
    background-color: var(--global-background_color);
    border: 1px solid var(--global-background_color);
    cursor: pointer;
    transition: .5s;
}
.add_button:hover{
    color: var(--global-background_color);
    background-color: #fff;
}
.add_button:active{
    transform: scale(.9);
}

.add_button::before{
    position: absolute;
    z-index: 0;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: .5s;
}

.add_button:hover:before{
    width: 150px;
    height: 150px;
}

.add_button span{
    position: relative;
    z-index: 10;
}

.add_button i{
    margin-left: 5px;
}

@media (min-width:750px) {
        
    .agregate_section{
        margin: 0px 0;
        padding-left: 15px;
    }

    .agregate_section h2{
        font-size: 3rem;
    }

    .description{
        margin: 25px 0;
    }

    .price{
        font-size: 2rem;
        margin: 25px 0;
    }

    .addToCart{
        display: flex;
        margin-top: 10px;
        align-items: center;
    }

    .quantity{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .counters{
        display: flex;
        flex-direction: column;
        color: var(--global-gray2);
        margin-left: 5px;
    }
}

/* Description section */
.description_section{
    margin: 15px 0;
    padding-top: 15px;
}

.description_section h4{
    font-size: 1.3rem;
}

.table{
    margin-top: 15px;
    display: flex;
    background-color: var(--global-gray5);
    border-radius: 5px;
}

.table_side{
    padding: 15px;
}

.table_side h5,
.table_side p{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 5px;
}

@media (min-width:750px) {
    .description_section{
        margin: 15px 0;
        padding-top: 15px;
        border-top: 1px solid var(--global-gray2);
    }

    .table{
        width: max-content;
    }

    .table_side h5:hover,
    .table_side p:hover{
        background-color: var(--global-gray3);
    }

}