.eventDesktop_container{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
}

.button_section{
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    z-index: 10;
}

.button_close{
    background-color: var(--global-secondary-color);
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
}
.button_close:hover{
    filter: brightness(1.2);
}

.live_section{
    display: flex;
    background-color: var(--global-gray4);
    height: 100vh;
}


.side_live{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.live_container{
    width: 60%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
}

.live_alert{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: var(--global-secondary-color);
    border-radius: 10px;
    animation: liveAlert .5s ease-in-out infinite alternate;
}

.side_chat{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat_box{
    background-color: var(--global-gray2);
    width: 50%;
    height: 95vh;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    display: flex;
    align-items: flex-end;
}

.chat_div{
    width: 100%;
    margin-bottom: 10px;
}

.chat_msg{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}

.chat_msg_img{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    background-color: rgb(143, 143, 219);
    border-radius: 50%;
    margin-right: 10px;
}

.chat_msg_img img{
    width: 100%;
}

.chat_msg_text{
    font-size: 1rem;
}


.chat_box form{
    width: 90%;
    margin: auto;
    display: flex;
    border: 1px solid var(--global-gray);
    border-radius: 50px;
}

.chat_box input{
    flex-grow: 3;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.chat_box input::placeholder{
    color: var(--global-gray);
}

.chat_box button{
    border: none;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    color: var(--global-gray);
    cursor: pointer;
}


@keyframes liveAlert {
    0%{
        opacity: 1;
    }
    
    50%{
        opacity: .85;
    }
    
    100%{
        opacity: .6;
    }
}