html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background-color: var(--global-primary-color);
  color: var(--global-text_color);
  scroll-behavior: smooth;
}

a {
  color: #04c3e9;
  color: var(--global-tertiary-color);
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2{
  font-family: 'Calligraffitti', cursive;
}

:root{
  /* Variables generales */
  --global-primary-color: var(--dark-primary-color);
  --global-primary-color_opacity: var(--dark-primary-color_opacity);
  --global-secondary-color: var(--dark-secondary-color);
  --global-tertiary-color: var(--dark-tertiary-color);
  --global-inverse-color: var(--dark-primary-text_color);
  --global-text_color: var(--dark-primary-text_color);
  --global-background_color: rgb(105, 13, 105);

  /* Colores */
  --global-ligth-gray: #F7F7FF;
  --global-gray:#D9D9D9;
  --global-gray2:#8C8C8C;
  --global-gray3:#595959;
  --global-gray4:#363636;
  --global-gray5:#212121;

  --global-error:#BF1F1F;
  --global-warning:#ffee00;
  --global-succesfully:#1ab106;

  /* Variables de tema */
  --ligth-primary-color:#fcfcfc;
  --ligth-secondary-color:#FF2A3F;
  --ligth-tertiary-color:#F2D43D;
  --ligth-primary-text_color: #000;

  --dark-primary-color:#1a1a1a;
  --dark-primary-color_opacity:#1a1a1a50;
  --dark-secondary-color:#FF2A3F;
  --dark-tertiary-color:#F2D43D;
  --dark-primary-text_color: #fff;

  /* Variables de animation.css */
  /* --animate-duration: 500ms; */
}

.non_select {
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}


