.filter{
    min-width: 25%;
    max-width: 25%;
    padding-top: 15px;
    padding-left: 20px;
    background-color: var(--global-primary-color);
}

.filter_title{
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
}

.filter_title h3{
    margin: 0;
    font-size: 2rem;
}

.filter_title h4{
    padding: 0;
    font-weight: 200;
    margin-left: 20px;
    font-size: 1.5rem;
}

.filter_container div{
    padding: 25px 0;
    padding-right: 25px;
    border-top: 1px solid var(--global-gray3);
    display: flex;
    justify-content: space-between;
}
.filter_container div:last-child{
    border-bottom: 1px solid var(--global-gray3);
}


.filter_select select{
    width: 100%;
    background-color: transparent;
    color: var(--global-primary-text_color);
    border: none;
    outline: none;
}

.filter_select select option{
    background-color: var(--global-primary-color);
    border: none;
}

.filter_select select option:hover{
    background-color: violet !important;
}

.filter_search img{
    width: 1rem;
    filter: invert(100%);
    object-fit: contain;
}

.filter_search input{
    padding: 5px 15px;
    border: 15px;
    border-radius: 15px;
    width: 100%;
    margin-left: 15px;
}
.filter_search input::placeholder{
    color: var(--global-gray);
}
.filter_search input:focus{
    outline: none;
}