.user_section{
    padding: 35px;
    border-bottom: 1px solid var(--global-gray3);
}

.user_img{
    position: relative;
    min-width: 115px;
    max-width: 115px;
    min-height: 115px;
    max-height: 115px;
    margin: auto;
    background-color: rgb(143, 143, 219);
    overflow: hidden;
    border-radius: 50%;
}

.user_img img{
    width: 100%;
    filter: invert(100%);
}

.user_name{
    text-align: center;
    padding: 15px;
    font-size: 1.5rem;
}

.user_info div{
    display: flex;
    align-items: center;
}

.user_info div:nth-child(1){
    margin-bottom: 10px;
}

.user_info div i{
    margin-right: 10px;
    width: 15px;
    display: flex;
    justify-content: center;
}

.close_session{
    background-color: var(--global-secondary-color);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
    width: 50%;
}

@media (min-width: 700px){
    .user_img{
        width: 30%;
    }
    .user_info div{
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}


@media (min-width: 800px) {
    .user_section{
        width: 20%;
        border-right: 1px solid var(--global-gray4);
        border-bottom: none;
    }

    .user_img{
        width: 50%;
    }

    .close_session{
        width: 100%;
    }
}